html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: radial-gradient(circle at center, #d6d6d6, #3c3c3c);
  /* background-color: #333333; */
}

#chessboard {
  position: relative;
  width: 40%;
  border: solid black 1px;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-rows: repeat(8, 12.5%);
  grid-template-columns: repeat(8, 12.5%);
  grid-auto-flow: row;
  user-select: none;
  grid-row: span 2;
}

.square-black {
  background-color: #815c38;
}

.square-white {
  background-color: #c3a26c;
}

.icon {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.9);
  user-select: none;
  pointer-events: none;
}

#main {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}
.timer {
  display: flex;
  border: 1px solid black;
  background: linear-gradient(45deg, #7e7e7e, #515151);
  /* background-color: #abcabc; */
  height: 3em;
  width: 10em;
  font-weight: 600;
  font-size: larger;
  align-items: center;
  justify-content: center;
}

.timer-bottom {
  margin-top: auto;
}

.ui {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  width: 10px;
  margin-left: 3em;
}

.options {
  width: 250px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-10%);
  row-gap: 5em;
}

#surrender {
  display: flex;
  align-items: center;
  justify-content: center;
}

#draw {
  display: flex;
  align-items: center;
  justify-content: center;
}

#half {
  margin-left: 5px;
  font-size: 36px;
}

.btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  min-width: 10em;
}

.btn:hover {
  background-color: #555;
}

.disabled {
  cursor: auto;
}

.disabled:hover {
  background-color: #333;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.35);
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  pointer-events: auto;
}

.popup-content img {
  transform: scale(0.4);
  margin-right: -30px;
}

.popup-content {
  display: flex;
  pointer-events: all;
}

#loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 28px;
  text-align: center;
}

#loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
#loader {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#draw-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 83%;
  position: absolute;
  top: 70%;
}

#drawOffer {
  display: none;
  width: 83%;
  text-align: center;
}

#drawRequest {
  display: none;
  width: 50%;
  padding: 20px 20px;
  text-align: center;
}

.draw-option {
  min-width: 3.5em;
}

#gameOverElements {
  display: none;
  flex-direction: column;
  text-align: center;
  max-width: 75%;
}

#goBack {
  padding: 20px 10px;
  width: 100%;
}

#gameOverMessage {
  font-size: 18px;
}
